---
import Row2 from '../layouts/Row2.astro';
import profileRef from '../images/profilepic.jpg';

---
<Row2 title="About me">
    <img slot="left" src={profileRef.src} alt="profile picture" />
    <div slot="content">
        <p>
            Hi, I'm Philipp, I'm a researcher at Linköping University in the Cognition
            & Interaction Lab (COIN) with specialization in human-computer
            interaction. I did my PhD (Dr. rer. nat.) in driver-vehicle interaction.
            In my thesis, I investigated persuasive user interfaces to increase
            automation usage. You can find it <a
              href="https://oparu.uni-ulm.de/xmlui/handle/123456789/38412"
              target="_blank">here</a
            >. I did my PhD in symbiosis of two scientific fields, computer science
            and psychology, but my roots are in computer science.
          </p>
          <p>
            My workflow mainly encompassed the following steps: (1) ideation and
            experiment design, (2) prototyping interfaces, simulator components and
            tracks, (3) experiment execution, (4) data analysis, and (5) publication
            of the experiment. You can find my publication <a href="https://scholar.google.de/citations?user=Ba6WkGwAAAAJ&hl=sv" target="_blank">here</a>.
          </p>
      
          <p>I love problem solving, prototyping, and programming.</p>
          <br /><br />
          <div class="contact">
            <h3>Contact</h3>
            <div class="row">
              <div>
                <a href="https://liu.se/medarbetare/phiho12" target="_blank">Philipp Hock, PhD</a><br />
                <a href="https://liu.se/" target="_blank">Linköping University</a><br />
                Sweden<br />
                <a href="mailto:philipphock@gmail.com">philipphock@gmail.com</a><br />
              </div>
              
            </div>
          </div>
          <br><br><br>
    </div>
    
</Row2>


<style>
  img {
    width: 7rem;
    border-radius: 50%;
  }
  .row button{
    padding: 1rem 4rem;

  }

  h3{
    color: rgb(36, 36, 36) !important;

  }
  .contact {
    max-width: 20rem;
    background-color: rgb(245, 245, 219);
    padding: 30px 90px;
    border-radius: 8px;
    font-weight: 400;
    color: rgb(49, 49, 49) !important;
    a {
      color: rgb(49, 49, 49) !important;
    }

  }
  i{
    margin-right: 1rem;
  }
</style>
