---
import Row2a from "../layouts/Row2a.astro";
---

<Row2a title="Education">
  <div>

    <h3>Linköping University (Postdoc)</h3>
    <p class="info">
      Postdoctoral researcher
       <em class="date">Ongoing</em>
    </p>

    <p>
      My postdoc revolves around HRI (human-robot interaction), DVI (driver-vehicle interaction) and HCI (human-computer interaction). In the <a href="https://www.ida.liu.se/divisions/hcs/coin/" target="_blank">COIN lab</a> at <a href="https://liu.se/" target="_blank">Liu</a> I'm investigating the concept of mind perception and delving deeper into the intricacies of virtual avatars.
    </p>

    <h3>Ulm University (PhD)</h3>
    <p class="info">
      PhD (Dr. rer. nat.) in persuasive driver vehicle interaction <span
        >&bull;</span
      > Computer science and psychology <em class="date">March 2021</em>
    </p>

    <p>
      In my PhD thesis, my research was about persuasion (i.e., how to change
      behavior or attitudes) to increase automation usage. In several (mainly)
      driving simulator studies, I conducted several experiments where I
      designed and evaluated persuasive user interfaces, such as:
      <ul>
        <li>A Virtual co-driver</li>
        <li>An empathic avatar</li>
        <li>A self-enabling automation</li>
        <li>A remote controlled wheelchair-simulator</li>
      </ul>
      More about the experiments and projects below.
    </p>
    <p>
      The thesis was written in close cooperation between computer science and
      psychology, which allowed me to gian a lot of experience in human factors
      research.
    </p>

    <h3>Ulm University (M.Sc.)</h3>
    <p class="info">
      M.Sc. Degree in computer science <span>&bull;</span>
      <em class="date">March 2015</em>
    </p>

    <p>
      The focus of lectures during my master's degree was HCI and IT security.
      My master thesis was about creating and evaluating an unobtrusive touch
      interface for head-mounted displays (Google Glass). I created a touch
      sensitive belt that can be used to control the Glass. Furthermore, I
      developed and evaluated the concept of a spatial mapping of information.
      For example that opening the wallet app of the Glass is near the actual
      pocket where the wallet is located. A paper based on the thesis was
      published at <a target="_blank" href="https://chi2015.acm.org/">CHI</a>.
    </p>
    <p>
      Besides the <i>Belt</i>, I was involved in two bigger software projects.
      (1) A smart backpack that identifies items placed inside using RFID. (2)
      Building a driving simulator.
    </p>
    <p>
      In IT security I attended a lecture with an accompanying practical
      exercise where students should create and explain a vulnerability by
      attacking a virtual machine. My topic was XSS and CSRF.
    </p>

    <h3>Ulm University (B.Sc.)</h3>
    <p class="info">
      B.Sc. Degree in computer science <span>&bull;</span>
      <em class="date">April 2012</em>
    </p>
    My bachelor thesis was about creating a framework to enable TCP, UDP, and Unix
    sockets in the browser. A local proxy architecture was used that established
    a websocket connection to the proxy, which then used tcp/udp/unix sockets to
    communicate further. A security layer was also implemented where connections
    needed explicit approval.
  </div>
</Row2a>

<style>
  .info {
    color: aqua;
    font-style: italic;
  }
  .date{
    font-style: normal;
    color: white;
    font-weight: 600;
    margin-top: 0.4rem;
    display: block;
  }
</style>
