---
import Layout from '../layouts/Layout.astro'; 
import Hero from '../components/Hero.svelte';
import About from './about.astro';
import CV from './cv.astro';
import Work from './work.astro';
import Skills from './Skills.astro';
import Portfolio from './Portfolio.astro';
import Workshops from './workshops.astro';

---

<Layout>
	<div class="anchor" id="home"></div>
	<Hero client:visible />
	<div class="anchor" id="about"></div>
	<About/>
	
	<h2 class="anchor" id="cv">CV</h2>
	<p class="dlcv">
	<a href="CV.pdf" target="_blank" >Full CV (pdf)<i class="fa fa-download" aria-hidden="true"></i>  </a>
	</p>
	  
	<CV />
	<Work />
	<h2 class="anchor" id="skills">My strenghts and passions</h2>
	<Skills/>
	<h2 class="anchor" id="teaching">Teaching and Workshops</h2>
	<Workshops />
	
	<h2 class="anchor" id="projects">Selected Projects</h2>
	<Portfolio />


	
</Layout>

<style>
	.dlcv{
		text-align: center;
	}
	i{
		padding-left: 1em;
	}
	h2{
		text-align: center !important;
		margin-bottom: 2rem;
		font-family: 'Courier New', Courier, monospace;
	}
</style>
