---
import PortfolioItem from "../components/PortfolioItem.svelte";
import vampRef from "../images/portfolio/wheelchair.jpg";
import pokerRef from "../images/portfolio/projectop.png";
---

<article>
    <div class="info">
        Here you can find a list of <b>selected</b> projects and other work I did.
        Check out <a
            href="https://scholar.google.de/citations?user=Ba6WkGwAAAAJ&hl=sv"
            target="_blank">my google scholar page</a
        > for more.
    </div>

    <PortfolioItem topic="Research Project" heading="VAMPIRE">
        <iframe
            slot="media" 
            width="100%"
            height="315"
            src="https://www.youtube.com/embed/c6Yl4yIQ-kM?si=iBdmDrF_rlYYO3Ed"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

        
        <div slot="text">
            <p>
                In this project, a remote controlled wheelchair is combined with
                a VR HMD to increase presence and immersion in a VR driving
                scene by adding real kinesthetic forces to the simulation. The
                project was supervised together with Mark Colley, which was part
                of a bachelor thesis by Florian Förderrheuter and was continues
                as study project by Ali Askari and Tobias Wagner.
            </p>
            <a
                href="https://dl.acm.org/doi/abs/10.1145/3543174.3545252"
                target="_blank">read more</a
            >
        </div>
    </PortfolioItem>

    <br />
    <PortfolioItem topic="Research Project with User Study" heading="CarVR">
        <iframe
            slot="media"
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/oVJVr88a_D8?si=AoRM3iagvqgwgMOK"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div slot="text">
            <p>
                CarVR synchronizes movements between a real and a virtual
                vehicle to increase immersion and reduce simulator sickness.
                This project was a supervised master thesis by Sebastian
                Benedikter.
            </p>
            <a
                href="https://dl.acm.org/doi/10.1145/3025453.3025665"
                target="_blank">read more</a
            >
        </div>
    </PortfolioItem>

    <br />
    <PortfolioItem topic="Research Project with User Study" heading="Opt-Out">
        <iframe
            slot="media"
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/ZheJ9ls7GMg?si=maNUymKSvjDoPoAk"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div slot="text">
            <p>
                In this research project we investigated the persuasiveness of a
                self-enabling automation.
            </p>
            <a
                href="https://dl.acm.org/doi/10.1145/3342197.3344521"
                target="_blank">read more</a
            >
        </div>
    </PortfolioItem>

    <br />
    <PortfolioItem
        topic="Research Project with User Study"
        heading="Longitudinal Effects of Robot Conflict Resolution Strategies on Compliance, Acceptance and Trust"
    >
        <video
            slot="media"
            controls
            src="/videos/SupplementaryMaterial_StimulusVideoDiminutionReinforcement.mp4"
            width="100%"></video>
        <div slot="text">
            <p>
                In this resarch project I co-authored, we did an interactive
                online study where we explored how domestic service robots could effectively negotiate task priorities, finding that combining the strategy of diminishing requests with positive reinforcement was most effective. 
            </p>
            <a
                href="https://ieeexplore.ieee.org/abstract/document/9889492/"
                target="_blank">read more</a
            >
        </div>
    </PortfolioItem>
    <br />
    <PortfolioItem topic="Research Project with User Study" heading="Avatar">
        <iframe
            slot="media"
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/mi9SubRqdIY?si=3m_bZxSwYVrOxMAm"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div slot="text">
            <p>
                In this research the persuasiveness of maintaining the
                automation between an avatar, a voiceover, and a control group
                was compared.
            </p>
            <a
                href="https://dl.acm.org/doi/abs/10.1145/3003715.3005414"
                target="_blank">read more</a
            >
        </div>
    </PortfolioItem>
    <br />
    <PortfolioItem topic="Private project" heading="Multiplayer Poker">
        <img slot="media" src={pokerRef.src} />
        <div slot="text">
            <p>
                In this private project, I developed an online multiplayer poker
                game to play during the pandemic.
            </p>
            <a href="https://poker.philipphock.rocks/lobby" target="_blank"
                >play it</a
            >
        </div>
    </PortfolioItem>
</article>

<style>
    .info {
        margin-left: auto;
        margin-right: auto;

        max-width: 20rem;
        text-align: justify;
        margin-bottom: 6rem;
    }
    br {
        margin-bottom: 5rem;
    }
</style>
