---
import Row2a from "../layouts/Row2a.astro";
import Progress from "../components/Progress.svelte";
---

<Row2a title="Skills">
  <div>
    <p>
      Here's a list from things I consider my strengths. Not all of them are
      high rated, but knowing the basics of many things is also kind of my
      speciality.
    </p>
    <br />
    <div class="bars">
      <Progress
        client:visible
        class="progress"
        title="Persuasion"
        tooltip="I did my PhD in persuasive technology."
        percent="100"
      />

      <br />
      <Progress
        client:visible
        title="Programming"
        tooltip="I code since I'm 12 and I'm constantly enjoy learning new things everyday. I fluently speak Js/Ts, Java, C#, Python, and R; but I learned much more."
        percent="90"
      />
      <br />
      <Progress
        client:visible
        title="User Studies"
        tooltip="I conducted several user studies. I'm usually involved in all steps from design, over implementation, to evaluate."
        percent="100"
      />
      <br />
      <Progress
        client:visible
        title="UX"
        tooltip="My research, teaching and passion revolves around UX. Papers, lectures, workshops, practical skills."
        percent="100"
      />
      <br />
      <Progress
        client:visible
        title="User Centered Design"
        tooltip="As a child of media informatics and human factors, user centered design is the language I speak fluently. To me, it's like riding a bicycle or skydiving. It comes naturally if you're used to it."
        percent="100"
      />
      <br />
      <Progress
        client:visible
        title="Public Speaking"
        tooltip="Held several paper talks and lectures."
        percent="90"
      />
      <br />

      <Progress
        client:visible
        title="Scientific Writing"
        tooltip="Wrote several high ranked research papers and a PhD thesis."
        percent="100"
      />
      <br />

      <Progress
        client:visible
        title="Supervision"
        tooltip="Supervised many theses and I'm co-supervising a PhD thesis."
        percent="100"
      />
      <br />

      <Progress
        client:visible
        title="Web technologies"
        tooltip="Full stack development experience: js, ts, html, css, docker, node, linux, mysql, mongodb, and more."
        percent="100"
      />
      <br />

      <Progress
        client:visible
        title="Project Management (industry level)"
        tooltip="Experience as work-package leader in the project semulin"
        percent="50"
      />
      <br />

      <Progress
        client:visible
        title="Project Management (academic level)"
        tooltip="Supervised many student projects and partook in numerous university projects."
        percent="88"
      />
      <br />

      <Progress
        client:visible
        title="Prototyping"
        tooltip="Experienced in hardware and software prototyping. RPi, web, game engines and more. You can't reach 100% in prototyping IMHO."
        percent="90"
      />
      <br />
      <Progress
        client:visible
        title="Rapid prototyping tools"
        tooltip="I use unity, blender, html/css/js, docker, davinci resolve, RPis, 3d printer, laser cutter, wireframe tools, and more on a daily basis."
        percent="90"
      />
      <br />

      <Progress
        client:visible
        title="VR"
        tooltip="Experienced in VR research and programming. See my papers and projects."
        percent="80"
      />
      <br />

      <Progress
        client:visible
        title="Driving Simulators"
        tooltip="Used and build several simulators, from low-cost to high end."
        percent="75"
      />
      <br />

      <Progress
        client:visible
        title="IT Security"
        tooltip="Educated in IT sec and impassioned about the topic."
        percent="65"
      />
      <br />
      <Progress
        client:visible
        title="Robotics"
        tooltip="I worked with robots in teaching and in my research for several years. Robotics is huge, so I'm humble here. "
        percent="40"
      />
      <br />
      <Progress
        client:visible
        title="AI"
        tooltip="My recent projects involve LLMs, Stable Diffusion and Bayesian Optimization."
        percent="55"
      />
      <br />

      <Progress
        client:visible
        title="Teaching"
        tooltip="I was constantly involved in teaching very early in my university career. I'm giving lecutures, PhD courses, and more."
        percent="100"
      />
      <br />

      <Progress
        client:visible
        title="Learning"
        tooltip="Learning is my greates strength, I like learning new things and exploring new approaches constantly."
        percent="100"
      />
      <br />

      <br />
    </div>
  </div>
</Row2a>

<style>
  .info {
    color: aqua;
    font-style: italic;
  }

  .bars {
    width: clamp(10rem, 100%, 35rem);
  }
</style>
