---
import Row2a from "../layouts/Row2a.astro";
---

<Row2a title="Work">
  <div>
    <h3>SEMULIN</h3>
    <p class="info">
      Workpackage Leader - User Study<span>&bull;</span>
      <em class="date">2021 - 2023</em>
    </p>

    <p>
      In <a href="https://www.semulin.de/eng/index.html" target="_blank">SEMULIN (Self-Supporting Multimodal Interaction)</a>, natural multimodal human-machine interactions in autonomous driving was investigated. 
      Eminent companies and institutions involved include audEERING, Blickshift, eesy Innovation, Elektrobit, Fraunhofer IIS, Infineon, and the Ulm University.
      In this project, I was responsible for a big user study to aquire the user's state and intention. The data was used to train deep learning neural networks for intention detection. 
    </p>

    <h3>University for Interaction Design, Schwäbisch Gmünd.</h3>
    <p class="info">
      Lecturer for interaction design<span>&bull;</span>
      <em class="date">2017 - 2019</em>
    </p>

    <p>
      During my time as a PhD student, I was a lecturer at the University for
      Interaction Design (Hochschule für Gestaltung Schwäbisch Gmünd). My course
      was software prototyping with unity. In this course, I teached design
      students how they can build interactive prototypes and games using the
      unity game engine.
    </p>


  </div>
</Row2a>

<style>
  .info {
    color: aqua;
    font-style: italic;
  }
</style>
