
---
import Row2a from "../layouts/Row2a.astro";

---
<Row2a title="Teaching">
    


<p>A selection of courses and lectures I gave at different universities</p>
<ul>
    <li>Research Trends in Media Informatics</li>
    <li>Communication of Scientific Results</li>
    <li>User Interface Software Technology</li>
    <li>Driver-Vehicle Interaction</li>
    <li>Design Thinking in Interactive Systems</li>
    <li>Human-Robot Interaction</li>
    <li>Human-Computer Interaction</li>
    <li>Web Engineering</li>
    <li>Interaction Design</li>

</ul>
<br>
</Row2a>
<br>
<Row2a title="Workshops">

<ul>
  <li>
    <a
    href=" https://sites.google.com/view/carsa23"
    target="_blank"
    >CarSA: Cars As Social Agents - A Perspective Shift in Human-Vehicle Interaction.
    <br>
    First workshop on cars as social agents @ HAI23</a
  >
   
  </li>
  <li>
    <a
      href="https://www.researchgate.net/profile/Myounghoon-Jeon/publication/354769813_Genie_vs_Jarvis_Characteristics_and_Design_Considerations_of_In-Vehicle_Intelligent_Agents/links/619a7dab3068c54fa50d387a/Genie-vs-Jarvis-Characteristics-and-Design-Considerations-of-In-Vehicle-Intelligent-Agents.pdf"
      target="_blank"
      >Genie vs. Jarvis: The 1st Workshop on Characteristics and Design
      Considerations of In-vehicle Intelligent Agents</a
    >
  </li>
  <li>
    <a
      href="https://dl.acm.org/doi/abs/10.1145/3544999.3552313"
      target="_blank"
    >
      Build Your Own Genie and Jarvis: 2nd Workshop on Characteristics and
      Design Considerations of In-Vehicle Intelligent Agents</a
    >
  </li>
  <!--<li>TODO HAI Workshop</li>-->
</ul>

</Row2a>
