<script lang="ts">
  import { onMount } from "svelte";
  let active = "";
  let toggleButton: HTMLButtonElement;
  onMount(() => {
    const breaks = document.querySelectorAll(".anchor");
    const breakItems: { selector: string; top: number; nav: Element | null }[] =
      [];

    breaks.forEach((e) => {
      const rect = e.getBoundingClientRect();
      breakItems.push({
        selector: e.id,
        top: rect.top - 1,
        nav: document.querySelector(`a[href="#${e.id}"]`),
      });
    });
    document.addEventListener("scroll", (ev) => {
      scrolled = window.scrollY != 0;
      let _nav = "";
      breakItems.forEach((e) => {
        if (window.scrollY >= e.top) {
          _nav = e.selector;
        }
      });
      active = _nav;
    });
  });

  let scrolled = false;

  let menuVis = false;
  function menuToggle() {
    menuVis = !menuVis;
  }

  function onBodyClick(e: { target: any }) {
    if (e.target == toggleButton) {
      return;
    }
    if (!e.target.matches("nav *")) {
      menuVis = false;
    } else {
      setTimeout(() => {
        menuVis = false;
      }, 200);
    }
  }
</script>

<svelte:body on:click={onBodyClick} />
<nav class:scrolled>
  <button class="nav-toggle" bind:this={toggleButton} on:click={menuToggle}>
    ☰
  </button>
  <ul class={menuVis ? "visible" : ""}>
    <li><a class={active == "home" ? "active" : ""} href="#home">Home</a></li>
    <li>
      <a class={active == "about" ? "active" : ""} href="#about">About</a>
    </li>
    <li><a class={active == "cv" ? "active" : ""} href="#cv">CV</a></li>
    <li>
      <a class={active == "skills" ? "active" : ""} href="#skills">Skills</a>
    </li>
    <li>
      <a class={active == "teaching" ? "active" : ""} href="#teaching"
        >Teaching</a
      >
    </li>
    <li>
      <a class={active == "projects" ? "active" : ""} href="#projects"
        >Projects</a
      >
    </li>
  </ul>
</nav>

<style lang="scss">
  .nav-toggle {
    display: none;
  }
  nav.scrolled {
    background-color: black;
  }

  nav {
    z-index: 10000;
    position: fixed;
    top: 0px;
    padding: 0.4rem;
    transition: background-color 1s ease-in-out;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 0;
    ul {
      display: flex;
      gap: 1rem;

      li {
        display: flex;
        margin: 0;
        padding: 0;

        a {
          font-variant: small-caps;
          color: white;
        }
        .active {
          text-decoration: underline;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    ul {
      font-size: 1.1rem;
    }
  }

  @media screen and (max-width: 500px) {
    ul {
      font-size: 1.1rem;

      flex-direction: column;
    }
    nav.scrolled {
      background-color: unset;
    }

    .nav-toggle {
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 1000;
      background-color: rgb(39, 39, 39);
      display: block;
      color: white;
      cursor: pointer;
      padding: 0.5rem;
      border: none;
      border-radius: 0.2rem;
      text-align: center;
      transition: transform 0.1s;
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
    }

    nav .nav-toggle + ul {
      display: block;
      transition: top 0.1s ease-out;
      font-size: 2rem;
      background-color: rgba(33, 33, 33);
      position: fixed;
      width: 100vw;
      top: -100%;
      padding: 1rem 2rem;
    }
    ul.visible {
      top: 0 !important;
    }

    .nav-toggle:has(~ ul.visible) {
      transform: rotate(-90deg);
    }

    a {
      width: 100%;
    }
  }
</style>
