<script lang="ts">
    import "../style/fonts/fonts.css";
    import HoverImg from "./HoverImg.svelte";

    import "fork-awesome/css/fork-awesome.css";

    import linkedInRef from "../images/icons/linkedin.png";
    import scholarRef from "../images/icons/scholar.png";
    import uxpp from "../images/uxpp.png";
    
    import rgRef from "../images/icons/researchgate.png";
    import { onMount } from "svelte";

    let backdropAnimClass = "";
    onMount(() => {
        backdropAnimClass = "anim";
    });
</script>

<div class="container-fluid">
    <div class="backdrop {backdropAnimClass}"></div>

    <div class="container2">
        <h1 class="greeting">Hi, I'm Philipp</h1>
        <div class="tags">
            UX Reseacher | UX Engineer | HCI | User Studies |
            Prototyping | Interaction Design | INTJ/INFJ
            
            
        </div>

        <ul class="social">
            
            <li>
                <a
                    href="https://scholar.google.de/citations?user=Ba6WkGwAAAAJ&hl"
                    target="_blank"><HoverImg img_src={scholarRef.src} /></a
                >
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/philipp-hock-46287a127/"
                    target="_blank"><HoverImg img_src={linkedInRef.src} /></a
                >
            </li>
            <li>
                <a
                    href="https://www.researchgate.net/profile/Philipp-Hock"
                    target="_blank"><HoverImg img_src={rgRef.src} /></a
                >
            </li>
        </ul>
        <div class="abstract">
            I'm a researcher from Germany. I'm passionate about
            <span class="buzz">User Experience</span>,
            <span class="buzz">User-Centered Design</span>,
            <span class="buzz">Human-Computer Interaction</span>,
            <span class="buzz">Driver-Vehicle Interaction</span>, and
            <span class="buzz">Human-Robot Interaction</span>. My work is
            usually of a scientific, and prototypical nature to explore human
            behavior. I am a computer scientist with a strong background in
            human factors psychology.
            
        </div>
        <div style="height: 3rem">&nbsp;</div>
        <a href="https://uxpp.philipphock.rocks"
        target="_blank">
        <p>Check out my company website <i>UX++</i> as well!</p>
           <!--<img alt="company website" width="50px" src={uxpp.src} />-->
        </a>
                
    </div>
</div>

<style lang="scss">
    .container-fluid {
        margin-bottom: 7rem;
    }
    .greeting {
        font-family: handwritten1;
        margin-top: 8rem;
        margin-bottom: 2rem;
        font-size: 5rem;
    }
    .abstract {
        max-width: 38rem;
        text-align: justify;
        line-height: 1.5rem;
        padding: 1rem clamp(0rem, 5vw, 4rem);
        border-radius: 0.3rem;
        margin-top: 5rem;
    }
    .buzz {
        display: inline;
        font-variant: small-caps;
        box-shadow: inset 0 -0.03em 0 rgb(102, 236, 39);
    }
    .container2 {
        z-index: 3;
        position: relative;
        margin-top: 4rem;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .backdrop.anim {
        filter: blur(4px);
        transition: filter 3s, opacity 5s;
        opacity: 0.4;
        

    }
    .backdrop {
        background-image: url("/backdrop_lkp.jpg");
        transition: filter 3s, opacity 5s;
        opacity: 0.6;
        background-position-y: center;
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100%;
        max-height: 40rem;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        text-align: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .tags {
        margin-bottom: 2rem;
    }
    .social {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        li {
            list-style: none;

            a:hover {
                mask-size: 100%;
            }
        }
    }
</style>
