<script lang="ts">
    export let img_src: string;
</script>

<div style="-webkit-mask-image: url({img_src}); mask-image: url({img_src})">
<slot />
</div>

<style>
    div{
        min-width: 2rem;
        min-height: 2rem;
        background-size: 100%;
        mask-size: 100%;
        -webkit-mask-size:100%;
        background-color: rgb(255, 255, 255);
        cursor: url("/newtab.png"), pointer;
        transition: background-color 0.3s ease; 
        position: relative;
        z-index: 4;
    }
    div:hover{
        background-color: rgb(0, 123, 231);

    }
</style>