<script lang="ts">
    import { scrollPosition } from '../stores/pageEvents';

    function scroll(e): void{
        scrollPosition.set(e);
    }
</script>

<svelte:window on:scroll={scroll} />