<script lang="ts">
    export let heading = "";
    export let topic = "";
</script>

<div id="container">
    <div id="media">
        <slot name="media" />
    </div>
    <div id="text">
        <p class="topic">{topic}</p>
        <p class="heading">{heading}</p>

        <slot name="text" />
    </div>
</div>

<style>
    #container {
        display: flex;
        gap: 30px;
        min-height: 17rem;
        
    }

    #media {
        width: 38%;
        margin-top: 55px;
    }
    #text {
        width: 48%;
        display: flex;
        flex-direction: column;
    }
    .topic {
        margin-top: 2.5rem;
        color: aqua;
        font-size: 1rem;
    }
    .heading {
        color: var(--pico-secondary);
        font-size: 1.3rem;
        font-family: var(--font-head);
    }
    .text {
        text-align: justify;
    }

    @media (max-width: 768px) {
        #container {
            flex-direction: column;
            
        }

        #media {
            width: 100%;
            order: 2;
            padding-bottom: 6rem;
            border-bottom: 1px solid rgb(94, 94, 94);
        }
        
       
        #text {
            width: 100%;
            order: 1;
        }

        #text p.heading {
            order: -1;
            margin-top: 2rem;

        }

        
        #text .topic {
            margin-top: 0rem;

        }
    }
</style>
