<script lang="ts">
  import { onMount } from "svelte";

  export let title: string;
  export let percent: number;
  export let tooltip: string;

  let renderPercent = 0;
  onMount(()=>{
    setTimeout(()=>{
      
      renderPercent = percent;
    },100);
  })
</script>

<div>
  <p class="label">{title}</p>
  <div class="wrapper">
    <div class="back">
      <div class="front" style="width: {renderPercent}%">&nbsp;</div>
    </div>
  </div>
  <p class="ttp">{tooltip}</p>
</div>

<style>
  .label {
    font-size: 1.1rem;
  }
  .front,
  .back {
    height: 1rem;
  }
  .front {
    background-color: #7ade41;

    transition: width 0.5s ease-in-out;
  }
  .back {
    background-color: grey;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .ttp {
    margin-top: 1rem;
    font-size: 0.6rem;
    font-style: italic;
    padding: 0.3rem;
  }
</style>
