---
import "@picocss/pico";
import '../style/theme.css'
import '../style/default.css'

import Header from '../components/Header.svelte';
import PageEvent from '../components/PageEvent.svelte';

---
<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        
	</head>
	<body>
        <PageEvent client:only />
        <header>
            <Header client:only />
        </header>
        
        <div class="container">
            <!-- Main content area where page-specific content will be injected -->
                <slot />
        </div>
        
            <footer>
                <!-- Your footer content -->
            </footer>
        <!-- Additional scripts, analytics, etc. -->
    </body>
</html>

<style is:global>   
    html, body{
        scroll-behavior: smooth;
        width: 100vw;
        overflow-x: hidden;
    }
    .container{
        min-width: 360px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: clamp(300px, 100%, 60rem);
    }
    
    h2{
        font-size: 1.3rem;
    }
    h3{
        font-size: 1.1rem;
    }
    article{
        text-align: justify;

    }
    .row{
        display: flex;
        gap: 2rem;
        align-items: start;
    }
</style>