---
const { title } = Astro.props;
---

<article>
  <aside>
    <h2>{title}</h2>
  </aside>
  <main>
    <slot />
  </main>
</article>

<style>
  h2 {
    display: inline;
    width: fit-content;
    font-variant: small-caps;
    box-shadow: inset 0 -0.03em 0 rgb(102, 236, 39);
  }
  article {
    display: flex;
    font-size: 0.8rem;
    text-align: left;

    padding-right: 5rem;
  }
  aside {
    display: block;
    flex: 0 0 14rem;
  }

  @media (max-width: 768px) {
    
    article {
      flex-direction: column;
      padding-right: 1rem;
      gap: 2rem;

    }
    aside {
      display: block;
      flex: 1;
    }
  }
</style>
