---
const { title } = Astro.props;
---

<article>
  <aside>
    <slot name="left" />
  </aside>
  <main>
    <h2>{title}</h2>
    <slot name="content" />
  </main>
</article>

<style>
  article {
    display: flex;
    flex-direction: row;

    padding-right: 5rem;
  }
  aside {
    display: block;
    flex: 0 0 14em;
  }

  @media (max-width: 768px) {
    
    article {
      flex-direction: column !important;
      padding-right: 1rem;
      gap: 2rem;

    }
    aside {
      display: block;
      flex: 1;
    }
  }
</style>
